@import url("https://fonts.googleapis.com/css2?family=Galada&family=Ubuntu:ital,wght@1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

.header-color {
	background: #283c86; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#45a247,
		#283c86
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#45a247,
		#283c86
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Fondamento', cursive;
}
.landing-grid {
	background: #dd3e54; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;

	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}
.avatar-card {
	padding-top: 20px;
}
/* Project page */
.link-text {
	color: black;
	background-color: aqua;
}
.projects-grid {
	display: flex;
	padding-top: 20px;
	width: 100%;
	margin: auto;
	height: 100%;
	background-size: cover;
	background: #dd3e54; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.avatar-img {
	height: 250px;
	width: 250px;
	border-radius: 20px;
	padding-top: 20px;
}

.banner-text {
	background-color: black;
	opacity: 0.8;
	width: 75%;
	margin: auto;
	border-radius: 10px;
}

.banner-text h1 {
	font-size: 66px;
	font-weight: bold;
	color: white;
}

.banner-text hr {
	border-top: 5px dotted white;
	width: 50%;
	margin: auto;
}

.banner-text p {
	color: white;
	font-size: 20px;
	padding: 1em;
}

.social-links {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
}

.social-links i {
	color: white;
	font-size: 5em;
	padding: 8px;
}

/* contact page css */

.contact-body {
	margin: auto;
	background: grey;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.contact-grid {
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	background: #dd3e54; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: black;
	border: 2px solid blue;
	margin-bottom: 20px;
}

.contact-grid h2 {
	font-family: "Galada", cursive;
}

.contact-grid p {
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
}

/* Contact form */

input,
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type="submit"]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
}

/* CV page */
.cv-body{
	background: #dd3e54; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6be585,
		#dd3e54
	);
}
.cv-right-col {
	background: #27221f;
	color: white;
	padding: 2em;
}
.cv-left-col {
	background: rgb(0, 0, 0, 0.7);
	color: white;
	padding: 10px;
}

/* About page */
.about-text {
	color: white;
	font-size: 20px;
}

.about-body {
	background: #dd3e54; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6be585,
		#dd3e54
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

